<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="Infinitysoftway" />
	<meta name="description" content="statistic charts">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	
	<!-- Title -->
	<title>Rooth - Premium vCard / Resume / CV / Portfolio HTML Template</title>
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="images/favicon.ico" />
	
	<!-- Google fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Heebo:400,500,600,700,900&display=swap">

	<!-- Plugins css -->
	<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="css/fontawesome/all.min.css">
	<link rel="stylesheet" href="css/mCustomScrollbar/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="css/magnific-popup/magnific-popup.css">
	<link rel="stylesheet" href="css/owl-carousel/owl.carousel.min.css">

	<!-- Theme Style -->
	<link rel="stylesheet" href="css/style.css">

</head>
<body>

<!-- =================================================
	 lorder
================================================== -->
<div class="lorder">
	<img src="images/lorder.svg" alt="">
</div>

<!-- =================================================
	 Header
================================================== -->
<header id="header" class="header">
	
	  <!-- Menu start -->
	<div class="menu">
		<a class="menu-icon" id="sidebarCollapse" href="#"><i class="fas fa-align-left"></i></a>
		<!-- Sidebar start -->
		<div id="sidebar" class="sidebar">
			<!-- Dismiss icon start -->
			<div id="dismiss">
				<i class="fas fa-arrow-left"></i>
			</div>
			<!-- Dismiss icon end-->
			<div class="sidebar-inner">
				<!-- navbar start -->
				<div class="navbar collapse d-md-flex" id="mainNav">
					<ul class="nav flex-column flex-nowrap">
						<li class="nav-item"><a class="nav-link js-scroll-trigger" href="index-main.html">Home</a></li>
						<li class="nav-item"><a class="nav-link active" href="blog-single.html">Blog single</a></li>
						<li class="nav-item"><a class="nav-link" href="portfolio-single.html">Portfolio single</a></li>
						<li class="nav-item"><a class="nav-link" href="error-404.html">Error 404</a></li>
						<li class="nav-item">
							<a class="nav-link collapsed" href="#submenu1" data-toggle="collapse" data-target="#submenu1">Extra<i class="fas fa-chevron-down"></i></a>
							<div class="collapse" id="submenu1" aria-expanded="false" role="menu">
								<ul class="flex-column pl-3 nav">
									<li class="nav-item"><a class="nav-link" href="#">Submenu 01 </a></li>
									<li class="nav-item"><a class="nav-link" href="#">Submenu 01 </a></li>
									<li class="nav-item">
										<a class="nav-link collapsed py-1" href="#submenu1sub1" data-toggle="collapse" data-target="#submenu1sub1">Submenu 01<i class="fas fa-chevron-down"></i></a>
										<div class="collapse" id="submenu1sub1" aria-expanded="false" role="menu">
											<ul class="flex-column nav">
												<li class="nav-item">
													<a class="nav-link" href="#">
														<i class="fa fa-fw fa-clock-o"></i> Submenu 02
													</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" href="#">
														<i class="fa fa-fw fa-dashboard"></i> Submenu 02
													</a>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
				<!-- Navbar end-->
				<!-- Nav social start -->
				<div class="nav-social social mt-4 mt-sm-5">
					<h6>We are available here:</h6>
					<ul class="list-unstyled">
						<li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i><span>FB.</span></a></li>
						<li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i><span>LI.</span></a></li>
						<li><a class="twitter" href="#"><i class="fab fa-twitter"></i><span>TW.</span></a></li>
						<li><a class="dribbble" href="#"><i class="fab fa-dribbble"></i><span>DR.</span></a></li>
						<li><a class="instagram" href="#"><i class="fab fa-instagram"></i><span>IN.</span></a></li>
					</ul>
				</div>
				<!-- Nav social end-->
				<!-- Nav-contact start-->
				<div class="nav-contact mt-4 mt-sm-5">
					<div class="nav-email d-flex align-items-center mb-3"> <i class="fas fa-envelope"></i><span class="ml-3">Rooth@info.com</span></div>
					<div class="nav-phone d-flex align-items-center"> <i class="fas fa-phone-square"></i><span class="ml-3">(32)-458-4586</span></div>
					<a class="btn btn-primary btn-block mt-4 mt-sm-5" href="#"> Get in touch</a>
				</div>
				<!-- Nav contact end -->
			</div>
		</div>
		<!-- Sidebar end -->
		<!-- Dark Overlay element -->
		<div class="overlay"></div>
	</div>
	<!-- Menu end -->
	 <!-- logo start -->
	<div class="logo">
		<a href="index-main.html"> <img class="img-fluid" src="images/logo.png" alt=""> </a>
	</div>
	 <!-- logo end-->
	<!-- social start -->
	<div class="social ml-auto d-none d-md-block">
		<ul class="list-unstyled">
			<li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i><span>FB.</span></a></li>
			<li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i><span>LI.</span></a></li>
			<li><a class="twitter" href="#"><i class="fab fa-twitter"></i><span>TW.</span></a></li>
			<li><a class="dribbble" href="#"><i class="fab fa-dribbble"></i><span>DR.</span></a></li>
			<li><a class="instagram" href="#"><i class="fab fa-instagram"></i><span>IN.</span></a></li>
		</ul>
	</div>
	<!-- social end -->
</header>

<!-- left bar start -->
<div class="left-bar">
	<span class="mail-info"><i class="fas fa-phone-volume mr-2 text-primary"></i> rooth@gmail.com</span>
	<span class="portfolio-text">Portfolio</span>
	<a class="scroll-btn js-scroll-trigger" href="#about"></a>
</div>
<!-- left bar end -->
<!-- =================================================
	 Header
================================================== -->

<!-- wrapper start -->
<div class="wrapper">

<!-- =================================================
	 Blog start
================================================== -->
<section class="slice-ptb">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10">
				<!-- blog Start -->
				<div class="blog blog-single">
					<div class="blog-image">
						<img class="img-fluid" src="images/blog/blog-single.jpg" alt="">
					</div>
					<h5 class="my-4">Explicabo tempora repellat totam eius, praesentium atque suscipit. </h5>
					<div class="blog-meta pl-0">
						<a href="#"><img class="img-fluid rounded-circle" src="images/avatar/01.jpg" alt="">Jennifer Acosta</a>
						<a href="#"><i class="far fa-comment-alt"></i> Comments (20)</a>
						<a href="#"><i class="far fa-heart"></i> 12.5k</a>
					</div>
					<div class="blog-details">
						<!-- row start -->
						<div class="row">
							<div class="col-sm-6">
								<p>Optio voluptatibus aliquam voluptas eius ab culpa! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem quas, fuga repellendus quis labore ut laudantium similique, quasi possimus ad a ipsum veritatis </p>
								<ul class="pl-3">
									<li class="mb-3">Fuga vel quas delectus Lorem ipsum dolor sit amet, consectetur adipisicing elit.  </li>
									<li class="mb-3">Consectetur adipisicing elit. Fuga vel quas delectus  Lorem ipsum dolor sit amet,  </li>
									<li class="mb-3">Dolor sit amet, consectetur adipisicing elit. Fuga vel quas delectus Lorem ipsum  </li>
									<li class="mb-3">Vel quas delectus lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga  </li>
									<li class="mb-3"> Adipisicing elit. fuga vel quas delectus Lorem ipsum dolor sit amet, consectetur  </li>
								</ul>
							</div>
							<div class="col-sm-6">
								<p>Necessitatibus alias ipsa ipsum recusandae architecto quisquam! Ab consequatur nihil, doloribus distinctio fuga. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi mollitia magni, eum id voluptate a alias quod reprehenderit officia temporibus, sunt, veniam et? Possimus incidunt in aspernatur ipsam itaque aliquam quam voluptatem quod animi distinctio saepe explicabo, </p>
								<p>Voluptatem quas, fuga repellendus quis labore ut laudantium similique, quasi possimus ad a ipsum veritatis optio voluptatibus aliquam voluptas eius ab culpa! Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
								<p>Nostrum, veniam velit quo magni reiciendis dolore consequatur ipsam accusamus, quam molestias id assumenda, voluptate vel possimus temporibus. </p>
							</div>
						</div>
						<!-- row end -->
					</div>
					<!-- row start -->
					<div class="row align-items-center">
						<div class="col-md-6 mt-4">
							<div class="blog-tag d-sm-flex align-items-center">
								<h5 class="mr-3 mb-sm-0">Tag: </h5>
								<ul class="list-inline">
									<li><a href="#!"> Design </a></li>
									<li><a href="#!"> HTML </a></li>
									<li><a href="#!"> CSS3 </a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-6 ml-auto mt-4">
							<div class="social-02 d-sm-flex align-items-center justify-content-lg-end">
								<h5 class="mr-3 mb-sm-0">Share: </h5>
								<ul class="list-inline">
									<li class="facebook"><a href="#!"> <i class="fab fa-facebook-f"></i> </a></li>
									<li class="twitter"><a href="#!"> <i class="fab fa-twitter"></i> </a></li>
									<li class="google"><a href="#!"> <i class="fab fa-google"></i> </a></li>
									<li class="linkedin"><a href="#!"><i class="fab fa-linkedin"></i> </a></li>
									<li class="instagram"><a href="#!"> <i class="fab fa-instagram"></i> </a></li>
									<li class="pinterest"><a href="#!"> <i class="fab fa-pinterest"></i> </a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- row end -->
					<hr class="my-5" />
					<!-- row start -->
					<div class="row">
						<div class="col-12">
							<ul class="pagination">
								<li class="page-item"><a class="page-link" href="#">Prev</a></li>
								<li class="page-item ml-auto"><a class="page-link" href="#">Next</a></li>
							</ul>
						</div>
					</div>
					<!-- row end -->
					<div class="blog-comments">
						<h5>Leave a reply</h5>
						<p>Your email address will not be published. Required fields are marked *</p>
						<!-- Form start -->
						<form>
							<div class="form-row">
								<div class="col-md-12 mb-3">
									<textarea class="form-control" rows="4" placeholder="Message"></textarea>
								</div>
								<div class="col-md-4 mb-3">
									<input type="email" class="form-control" placeholder="User name">
								</div>
								<div class="col-md-4 mb-3">
									<input type="email" class="form-control" placeholder="Email">
								</div>
								<div class="col-md-4 mb-3">
									<input type="text" class="form-control" placeholder="Website">
								</div>
							</div>
							<button class="btn btn-primary" type="submit">Post comment</button>
						</form>
						<!-- Form end -->
						<!-- row start -->
						<div class="row">
							<div class="col-lg-8 col-md-10">
								<!-- Comments list start -->
								<div class="comments-list">
									<ul class="list-inline">
										<li class="comments">
											<div class="comment-avtar">
												<div class="avatar">
													<img class="img-fluid rounded-circle" src="images/avatar/01.jpg" alt="">
												</div>
											</div>
											<div class="comment-info">
												<h6>Airi Satou</h6>
												<span class="date">12 jan 2020</span>
												<p class="mt-2 mb-1">Consectetur adipisicing elit. Lorem ipsum dolor sit amet, Optio fugit accusantium animi nihil dolorem non repellendus vel, facere porro. Quibusdam excepturi magnam inventore.</p>
												<a href="#!"> Replay <i class="feather icon-arrow-right"></i></a>
											</div>
										</li>
										<li class="comments children">
											<div class="comment-avtar">
												<div class="avatar">
													<img class="img-fluid rounded-circle" src="images/avatar/02.jpg" alt="">
												</div>
											</div>
											<div class="comment-info">
												<h6>Bruno Nash</h6>
												<span class="date">10 feb 2020</span>
												<p class="mt-2 mb-1">Quibusdam excepturi magnam inventore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio fugit accusantium animi nihil dolorem non repellendus vel, facere porro. </p>
												<a href="#!"> Replay <i class="feather icon-arrow-right"></i></a>
											</div>
										</li>
										<li class="comments children">
											<div class="comment-avtar">
												<div class="avatar">
													<img class="img-fluid rounded-circle" src="images/avatar/03.jpg" alt="">
												</div>
											</div>
											<div class="comment-info">
												<h6>Cedric Kelly</h6>
												<span class="date">26 aug 2020</span>
												<p class="mt-2 mb-1">Repellendus vel, facere porro. Quibusdam excepturi magnam inventore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio fugit accusantium animi nihil dolorem non </p>
												<a href="#!"> Replay <i class="feather icon-arrow-right"></i></a>
											</div>
										</li>
										<li class="comments">
											<div class="comment-avtar">
												<div class="avatar">
													<img class="img-fluid rounded-circle" src="images/avatar/04.jpg" alt="">
												</div>
											</div>
											<div class="comment-info">
												<h6>Gavin Joyce</h6>
												<span class="date">02 Dec 2020</span>
												<p class="mt-2 mb-1">Adipisicing elit. Optio fugit accusantium animi nihil dolorem non repellendus vel, facere porro. Quibusdam excepturi magnam inventore Lorem ipsum dolor sit amet, consectetur mollitia quos autem.</p>
												<a href="#!"> Replay <i class="feather icon-arrow-right"></i></a>
											</div>
										</li>
									</ul>
								</div>
								<!-- Comments list start end -->
							</div>
						</div>
						<!-- row end -->
					</div>
				</div>
				<!-- blog Start -->
			</div>
		</div>
	</div>
</section>
<!-- =================================================
	 Blog end
================================================== -->
  
<!-- =================================================
	 Footer start
================================================== -->
<footer class="footer">
	<div class="container-fluid">
		<!-- Row start -->
		<div class="row">
			<div class="col-12 text-center">
				<p class="mb-0 text-white">© 2020 <a target="_blank" href="https://www.infinitysoftway.com/">infinitysoftway </a>all right reserved</p>
			</div>
		</div>
		<!-- Row end -->
	</div>
</footer>
<!-- =================================================
	 Footer end
================================================== -->

</div>
<!-- wrapper end -->

<!-- =================================================
	Javascript
================================================== -->

	<!-- Plugins Js -->
	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/popper/popper.min.js"></script>
	<script src="js/bootstrap/bootstrap.min.js"></script>
	<script src="js/appear/jquery.appear.js"></script>
	<script src="js/typer/typer.js"></script>
	<script src="js/isotope/isotope.pkgd.min.js"></script>
	<script src="js/jquery-easing/jquery.easing.min.js"></script>
	<script src="js/mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>
	<script src="js/magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="js/owl-carousel/owl.carousel.min.js"></script>

	<!-- Theme js -->
	<script src="js/functions.js"></script>

</body>
</html>