/* ----------------------------------
Version: 1.0
-------------------------------------

Table of contents
        
    01. General
    02. Hedding typo
    03. section padding
    04. Title
    05. header
    06. left bar
    07. wrapper
    08. bg overlay
    09. intro
    	- intro typer	
    	- intro bg video	
    	- intro slider	
    	- intro half
    10. About
    11. Progress
    12. counter
    13. Timeline
    14. Portfolio
    15. Work step
    16. Testimonial
    17. Owl carousel
    18. Blog
    19. Blog single
    20. Contact
    21. Footer
    22. Responsive media query
*/

/* ----------------------------------------
* General
* ---------------------------------------*/
html { height: 100%; width: 100%; padding: 0; margin: 0 }
body { font-size: 14px; line-height: 1.5; color: #959798; height: 100%; width: 100%; padding: 0; margin: 0; text-align: left; font-family: "Heebo", sans-serif; font-weight: 400; }
ol { margin-bottom: 0 }
ul { margin-bottom: 0 }
a { -webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -ms-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; transition: all .4s ease-in-out; color: rgba(242, 28, 28, 0.63); text-decoration: none }
a:active { color: #1c46f2; text-decoration: none; color: #1c46f2; text-decoration: none }
a:focus { color: #1c46f2; text-decoration: none }
a:hover { color: #1c46f2; text-decoration: none }
img { max-width: 100%; height: auto }
input { border: 1px solid #efeded; font-size: 14px; padding: 8px 15px; width: 100%; margin: 0 0 20px 0; max-width: 100%; resize: none }
textarea { border: 1px solid #efeded; font-size: 14px; padding: 8px 15px; width: 100%; margin: 0 0 20px 0; max-width: 100%; resize: none; -webkit-appearance: none; outline: none }
select { border: 1px solid #efeded; font-size: 14px; padding: 8px 15px; width: 100%; margin: 0 0 20px 0; max-width: 100%; resize: none }
input[type="submit"] { width: auto; -webkit-appearance: none; outline: none }
input[type="button"] { -webkit-appearance: none; outline: none }
input[type="text"] { -webkit-appearance: none; outline: none }
input[type="email"] { -webkit-appearance: none; outline: none }
input[type="search"] { -webkit-appearance: none; outline: none }
input[type="password"] { -webkit-appearance: none; outline: none }
iframe { width: 100%; }
::selection { color: #fff; background: rgba(242, 28, 28, 0.63) }
::-moz-selection { color: #fff; background: rgba(242, 28, 28, 0.63) }
::-ms-selection { color: #fff; background: rgba(242, 28, 28, 0.63) }

/* ----------------------------------------
* Hedding typo
* ---------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 { font-family: "Heebo", sans-serif }
h1 { color: #161a34; font-size: 48px; line-height: 48px; font-weight: 500 }
h1 a { color: inherit }
h2 { color: #161a34; font-size: 36px; line-height: 34px; font-weight: 500 }
h2 a { color: inherit }
h3 { color: #161a34; font-size: 30px; line-height: 32px; font-weight: 500 }
h3 a { color: inherit }
h4 { color: #161a34; font-size: 24px; line-height: 28px; font-weight: 500 }
h4 a { color: inherit }
h5 { color: #161a34; font-size: 20px; line-height: 24px; font-weight: 500 }
h5 a { color: inherit }
h6 { color: #161a34; font-size: 18px; line-height: 20px; font-weight: 500 }
h6 a { color: inherit }

/* ----------------------------------------
* Button
* ---------------------------------------*/
.btn { border-radius: 0px; padding: 14px 40px; font-weight: 500; font-size: 14px; -webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -ms-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; transition: all .4s ease-in-out }
.btn:focus { box-shadow: none }
.btn:not(:disabled):not(.disabled).active:focus { box-shadow: none }
.btn:not(:disabled):not(.disabled):active:focus { box-shadow: none }
.btn i { padding-left: 5px }
.btn-primary { background: rgba(242, 28, 28, 0.63); border-color: rgba(242, 28, 28, 0.63) }
.btn-primary:hover { background: #161a34; color: #fff; border-color: #161a34 }
.btn-primary:not(:disabled):not(.disabled):active { background: #161a34; color: #fff; border-color: #161a34 }
.btn-primary:focus { background: #161a34; color: #fff; border-color: #161a34 }
.btn.focus { box-shadow: none }
.show>.btn.dropdown-toggle:focus { box-shadow: none }
.btn-outline-secondary { border: 3px solid #efeded; color: #161a34 }
.btn-outline-secondary:hover { border-color: #1c46f2; color: #fff; background: #1c46f2 }
.btn-outline-secondary:focus { border-color: #1c46f2; color: #fff; background: #1c46f2 }
.btn-outline-secondary:active { border-color: #1c46f2; color: #fff; background: #1c46f2 }
.btn-outline-secondary:not(:disabled):not(.disabled):active { border-color: #1c46f2; color: #fff; background: #1c46f2 }
.btn-link { border-bottom: 2px solid rgba(242, 28, 28, 0.63); text-decoration: none; padding: 0 !important; color: rgba(242, 28, 28, 0.63) }
.btn-link:hover { color: #161a34; text-decoration: none; border-bottom-color: #161a34 }
.btn-link:focus { color: #161a34; text-decoration: none; border-bottom-color: #161a34 }

/* ----------------------------------------
* section padding
* ---------------------------------------*/
.slice-ptb { padding: 100px 0 }
.slice-pt { padding-top: 100px }
.slice-pb { padding-bottom: 100px }

/* ----------------------------------------
* Title
* ---------------------------------------*/
.title { margin-bottom: 36px; position: relative; z-index: 1; padding-left: 4%; padding-top: 8px; }
.title .pre-title { font-size: 16px; font-weight: 500 }
.title .title-shadow { font-size: 80px; line-height: 40px; font-weight: 500; position: absolute; top: 0; left: 0; color: #fff; z-index: -1; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: rgba(22, 26, 52, 0.1) }

/* blockquote */
.blockquote { border-left: 5px solid rgba(242, 28, 28, 0.63); padding: 10px 24px 10px 24px }

/* ----------------------------------------
* lorder
* ---------------------------------------*/
.lorder { position: fixed; left: 0; top: 0px; width: 100%; height: 100%; z-index: 9999; background: #fff; bottom: 0; }
.lorder img { position: absolute; top: 50%;  left: 50%; margin-top: -19px; margin-left: -19px; }

/* ----------------------------------------
* header
* ---------------------------------------*/
.header { background: #161a34; display: flex; align-items: center; height: 80px; padding: 0 80px; position: fixed; top: 0; width: 100%; z-index: 99 }
.header .logo { padding: 20px }
.header .menu { margin-right: 10px }
.header .menu .menu-icon { padding: 25px 32px; display: block; font-size: 20px; background: rgba(242, 28, 28, 0.838); color: #fff }
.header .social ul { display: flex }
.header .social ul li a { display: block; margin-left: 10px; font-weight: 500; color: #fff }
.header .social ul li a i { padding-right: 6px }
.header .social ul li a.facebook i { color: #3b5998 }
.header .social ul li a.linkedin i { color: #0077B5 }
.header .social ul li a.twitter i { color: #38A1F3 }
.header .social ul li a.dribbble i { color: #ea4c89 }
.header .social ul li a.instagram i { color: #fb3958 }

/* ----------------------------------------
* left bar
* ---------------------------------------*/
.left-bar { position: fixed; left: 0; width: 80px; top: 0; background: #161a34; height: 100% }
.left-bar .mail-info { -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -o-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg); display: flex; color: #fff; font-weight: 500; align-items: center; position: absolute; top: 200px; left: 0; right: 0 }
.portfolio-text { -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -o-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg); display: flex; color: #fff; font-weight: 500; align-items: center; position: absolute; top: 50%; left: 0; right: 0 }
.scroll-btn { width: 26px; height: 42px; border: 2px solid #fff; border-radius: 24px; position: absolute; bottom: 20px; left: 50%; transform: translate(-50%, -50%); cursor: pointer }
.scroll-btn:after { content: ""; position: absolute; top: 5px; left: 50%; margin-left: -2px; background-color: #fff; border-radius: 100%; width: 4px; height: 4px; opacity: 1; -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px); transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px); -webkit-animation: scroll 1.5s -1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite; animation: scroll 1.5s -1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite }
@keyframes "scroll" {
	0%,
	20% { -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px); transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px) }
	10% { -webkit-transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px); transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px); opacity: 1 }
	100% { -webkit-transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px); transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px); opacity: 0.01 }
}

/* ----------------------------------------
* wrapper
* ---------------------------------------*/
.wrapper { padding-top: 80px; padding-left: 80px }

/* Text color */
.text-primary { color: rgba(242, 28, 28, 0.63) !important }

/* Bg color */
.bg-primary { background-color: #1c46f2 !important }

.container-fluid { padding: 0 60px }

.h-100vh { height: 90vh }

/* ----------------------------------------
* bg overlay
* ---------------------------------------*/
.bg-fit { background-size: cover; background-position: center center; position: relative }
.bg-overlay { position: relative }
.bg-overlay:before { content: ""; position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; background: #161a34 }
.bg-overlay-dark-01:before { opacity: 0.1 }
.bg-overlay-dark-02:before { opacity: 0.2 }
.bg-overlay-dark-03:before { opacity: 0.3 }
.bg-overlay-dark-04:before { opacity: 0.4 }
.bg-overlay-dark-05:before { opacity: 0.5 }
.bg-overlay-dark-06:before { opacity: 0.6 }
.bg-overlay-dark-07:before { opacity: 0.7 }
.bg-overlay-dark-08:before { opacity: 0.8 }
.bg-overlay-dark-09:before { opacity: 0.9 }

/* ----------------------------------------
* Sidebar
* ---------------------------------------*/
#sidebar { width: 450px; position: fixed; top: 0; left: -450px; height: 100vh; z-index: 999; background: #fff; color: #161a34; transition: all 0.3s; box-shadow: 3px 3px 3px rgba(22, 26, 52, 0.2) }
#sidebar.active { left: 0 }
#dismiss { width: 35px; height: 35px; line-height: 35px; text-align: center; background: #1c46f2; color: #fff; position: absolute; top: 10px; right: 10px; cursor: pointer; -webkit-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; z-index: 99 }
#dismiss:hover { background: #161a34 }
.overlay { display: none; position: fixed; width: 100vw; height: 100vh; background: rgba(22, 26, 52, 0.7); z-index: 998; opacity: 0; top: 0; -webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -ms-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; transition: all .4s ease-in-out }
.overlay.active { display: block; opacity: 1 }
.sidebar-inner { height: 100%; padding: 40px }
.sidebar-inner .navbar { padding: 0 }
.sidebar-inner .social ul li a { color: #161a34; margin-left: 0; margin-right: 10px }

/* ----------------------------------------
* Nav
* ---------------------------------------*/
.nav .nav-item .nav-link { font-size: 20px; color: #161a34; font-weight: 500; padding: 8px 0 }
.nav .nav-item .nav-link i { font-size: 12px; padding-left: 8px }
.nav .nav-item .nav-link:hover { color: #1c46f2 }
.nav .nav-item .nav .nav-link { font-size: 14px; line-height: 28px; padding: 0 }
.nav .nav-item .nav-link.active { color: #1c46f2 }
.nav-contact .nav-email { font-size: 18px; font-weight: 500 }
.nav-contact .nav-phone { font-size: 30px; font-weight: 600 }

/* ----------------------------------------
* intro
* ---------------------------------------*/
.intro { padding-top: 0; height: 100vh; }
.intro .intro-sub-title { font-size: 20px; color: #161a34; display: block }
.intro .intro-title { line-height: 60px }
.intro .intro-image img { box-shadow: -18px -20px 0px 0px rgba(22, 26, 52, 0.1); border-radius: 40% 70% 95% 60% / 75% 94% 52% 80% }
.intro .lead { font-size: 18px; }

/* ----------------------------------------
* intro typer
* ---------------------------------------*/
.intro-typer { padding-top: 100px; height: auto; }

/* ----------------------------------------
* intro bg video
* ---------------------------------------*/
.intro-bg-video { position: relative; display: flex; align-items: center; padding-top: 0; height: 90vh }
.intro-bg-video .intro-title { font-size: 60px; line-height: 70px }

/* ----------------------------------------
* intro slider
* ---------------------------------------*/
.intro-slider .container-fluid { padding: 0; overflow: hidden }
.intro-slider .carousel-indicators { bottom: 0 }
.intro-slider .carousel-control.right { background-image: none }
.intro-slider .carousel-control.left { background-image: none }
.intro-slider .carousel-item { height: 90vh; width: 100% }
.intro-slider .carousel-item .container { height: 100% }
.intro-slider .carousel-item .container .row { height: 100% }
.intro-slider .carousel-caption { position: relative; right: inherit; bottom: inherit; left: inherit }
.intro-slider .carousel-caption .carousel-caption-title { font-size: 80px; line-height: 80px }
.intro-slider .carousel-caption .carousel-caption-tag { line-height: 20px; margin-bottom: 20px }
.intro-slider .carousel .icon-container { display: inline-block; font-size: 25px; line-height: 25px; padding: 1em; text-align: center; border-radius: 50% }
.intro-slider .carousel-control-prev-icon { background-image: none; font-size: 30px }
.intro-slider .carousel-control-next-icon { background-image: none; font-size: 30px }
.intro-slider .carousel-caption .animated:first-child { animation-delay: 1s }
.intro-slider .carousel-caption .animated:nth-child(2) { animation-delay: 1.5s }
.intro-slider .carousel-caption .animated:nth-child(3) { animation-delay: 2s }
.intro-slider .carousel-caption .animated:nth-child(4) { animation-delay: 2.5s }
.intro-slider .carousel-caption .animated:nth-child(5) { animation-delay: 3s }

/* ----------------------------------------
* intro half
* ---------------------------------------*/
.intro-half { overflow: hidden }
.intro-half .intro-half-caption { padding: 250px 0 }
.intro-half .intro-half-caption .intro-title { line-height: 60px }

/* ----------------------------------------
* About
* ---------------------------------------*/
.about i { font-size: 18px; line-height: 34px }
.about .about-me span { font-weight: 500 }

/* ----------------------------------------
* Progress
* ---------------------------------------*/
.progress { margin-bottom: 10px; position: relative }
.progress-bar { height: 0; justify-content: flex-start; background: rgba(242, 28, 28, 0.63) }
.progress-text { position: absolute; transform: rotate(-90deg); left: 0px; bottom: 20px; color: #fff; right: 0; font-size: 14px; -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1 }
.progress-bar-vertical { width: 50px; min-height: 80%; display: flex; align-items: flex-end; margin: 0 30px; float: left; border-radius: 0 }
.progress-bar-vertical .progress-bar { width: 100%; height: 0; -webkit-transition: height 0.6s ease; -o-transition: height 0.6s ease; transition: height 0.6s ease }

/* ----------------------------------------
* counter
* ---------------------------------------*/
.counter { padding: 60px 50px; border: 4px solid #efeded; -webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -ms-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; transition: all .4s ease-in-out; height: 100% }
.counter .counter-icon { color: rgba(242, 28, 28, 0.63); font-size: 35px; line-height: 35px; margin-right: 10px }
.counter .counter-number { font-size: 38px; line-height: 38px; font-weight: 500; color: #161a34 }
.counter:hover { border-color: rgba(242, 28, 28, 0.63) }

/* ----------------------------------------
* Timeline
* ---------------------------------------*/
.timeline { position: relative }
.timeline:before { content: ''; position: absolute; left: 130px; width: 4px; top: 5px; bottom: 5px; height: calc(100% - 5px); background-color: #efeded }
.timeline .timeline-block { display: table; position: relative; margin-bottom: 1.75rem }
.timeline .timeline-block .timeline-block-time { display: table-cell; font-size: 18px; font-weight: 500; vertical-align: top; position: absolute; padding-top: 6px; color: #161a34 }
.timeline .timeline-block .timeline-block-icon { border-radius: 50%; border: 15px solid white; z-index: 1; top: 5px; left: 117px; position: relative }
.timeline .timeline-block .timeline-block-icon>i { font-size: 1.78rem; top: -13px; left: -6px; position: absolute }
.timeline .timeline-block .timeline-block-text { display: table-cell; vertical-align: top; padding: 10px 0 0 130px; padding-top: 3px }
.timeline .timeline-block .timeline-block-text i { font-size: 30px; margin-right: 20px }
.timeline .timeline-block:last-child { margin-bottom: 0 }

/* ----------------------------------------
* Portfolio
* ---------------------------------------*/
.portfolio .filters-group { display: inline-flex; border: 4px solid #efeded; margin-bottom: 30px }
.portfolio .filters-group .button { padding: 14px 30px; border: none; background: transparent; font-weight: 500; -webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -ms-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; transition: all .4s ease-in-out; outline: none }
.portfolio .filters-group .button.is-checked { background: rgba(242, 28, 28, 0.63); color: #fff }
.portfolio .grid-item { width: 33.333% }
.portfolio-item { position: relative; margin: 10px }
.portfolio-item .portfolio-item-image { position: relative; text-align: center }
.portfolio-item .portfolio-item-image:before { position: absolute; content: ""; width: 100%; background: rgba(22, 26, 52, 0.6); width: 100%; height: 100%; opacity: 0; -webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -ms-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; transition: all .4s ease-in-out }
.portfolio-item .portfolio-item-caption { position: relative; padding: 30px 0; width: 100% }
.portfolio-item .portfolio-item-caption a { font-size: 18px; font-weight: 500; display: block; color: #161a34 }
.portfolio-item .portfolio-item-caption a:hover { color: rgba(242, 28, 28, 0.63) }
.portfolio-item .portfolio-item-category li { display: inline-block; margin-right: 2px }
.portfolio-item .portfolio-item-category li a { font-size: 12px }
.portfolio-item .portfolio-item-hover { position: absolute; z-index: 1; top: 40%; transform: translateY(-50%); left: 0; right: 0; opacity: 0; -webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -ms-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; transition: all .4s ease-in-out }
.portfolio-item .portfolio-item-hover a { width: 50px; height: 50px; line-height: 50px; background: #fff; border-radius: 50%; color: rgba(242, 28, 28, 0.63); display: inline-block; text-align: center }
.portfolio-item:hover .portfolio-item-image:before { opacity: 1 }
.portfolio-item:hover .portfolio-item-hover { top: 50%; opacity: 1 }

/* ----------------------------------------
* Work step
* ---------------------------------------*/
.work-step { text-align: center; position: relative; display: inline-block }
.work-step .work-step-icon { width: 160px; height: 160px; line-height: 160px; background: #f8f9fa; border-radius: 40% 70% 95% 60% / 75% 94% 52% 80%; font-size: 30px; font-weight: 500; display: inline-block; color: #1c46f2 }
.work-step .work-step-number { background: #1c46f2; display: inline-block; width: 50px; height: 50px; line-height: 50px; border-radius: 40% 70% 95% 60% / 75% 94% 52% 80%; position: absolute; right: 0; font-weight: 500; color: #fff }

/* ----------------------------------------
* Testimonial
* ---------------------------------------*/
.testimonial .testimonial-content { background: #f8f9fa; padding: 40px 30px; position: relative }
.testimonial .testimonial-content:before { position: absolute; bottom: -10px; left: 20px; content: ""; width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid #f8f9fa; font-size: 0; line-height: 0 }
.testimonial .testimonial-content p { font-size: 18px; }
.testimonial .testimonial-content i { font-size: 30px; color: #f8f9fa; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: rgba(0, 0, 0, 0.3); margin-bottom: 20px; }
.testimonial .testimonial-author .testimonial-avatar { width: 60px; width: 60px; margin-right: 20px }

/* ----------------------------------------
* Owl carousel
* ---------------------------------------*/
.owl-carousel .owl-nav { text-align: center }
.owl-carousel .owl-nav button.owl-next { width: 50px; height: 50px; line-height: 50px; text-align: center; font-size: 20px; background: rgba(28, 70, 242, 0.1); display: inline-block; color: #1c46f2; -webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -ms-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; transition: all .4s ease-in-out; z-index: 99; margin: 2px }
.owl-carousel .owl-nav button.owl-next:hover { background: #1c46f2; color: #fff; outline: none }
.owl-carousel .owl-nav button.owl-next:active { background: #1c46f2; color: #fff; outline: none }
.owl-carousel .owl-nav button.owl-next:focus { background: #1c46f2; color: #fff; outline: none }
.owl-carousel .owl-nav button.owl-prev { width: 50px; height: 50px; line-height: 50px; text-align: center; font-size: 20px; background: rgba(28, 70, 242, 0.1); display: inline-block; color: #1c46f2; -webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -ms-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; transition: all .4s ease-in-out; z-index: 99; margin: 2px }
.owl-carousel .owl-nav button.owl-prev:hover { background: #1c46f2; color: #fff; outline: none }
.owl-carousel .owl-nav button.owl-prev:active { background: #1c46f2; color: #fff; outline: none }
.owl-carousel .owl-nav button.owl-prev:focus { background: #1c46f2; color: #fff; outline: none }
.owl-carousel.owl-arrow-style-01 .owl-nav button.owl-next { position: absolute; top: -80px; right: 0 }
.owl-carousel.owl-arrow-style-01 .owl-nav button.owl-prev { position: absolute; top: -80px; right: 0; right: 60px }
.owl-carousel .owl-dots { text-align: center }
.owl-carousel button.owl-dot { width: 16px; height: 16px; background: rgba(28, 70, 242, 0.2); margin: 20px 2px; border-radius: 50%; -webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -ms-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; transition: all .4s ease-in-out }
.owl-carousel button.owl-dot:hover { background: #1c46f2; box-shadow: none; outline: none }
.owl-carousel button.owl-dot:focus { background: #1c46f2; box-shadow: none; outline: none }
.owl-carousel button.owl-dot.active { background: #1c46f2; box-shadow: none; outline: none }

/* ----------------------------------------
* Blog
* ---------------------------------------*/
.blog .blog-image img { box-shadow: 0 10px 15px rgba(22, 26, 52, 0.1); }
.blog .blog-info { background: #ffffff; border: }
.blog .blog-meta { display: flex; align-items: center; padding: 0 22px 15px 22px; }
.blog .blog-meta a { margin-right: 10px; font-weight: 500; color: #161a34; display: flex; align-items: center; line-height: 16px }
.blog .blog-meta a img { width: 30px; height: 30px; margin-right: 6px  }
.blog .blog-meta a i { padding-right: 6px; color: #1c46f2 }
.blog .blog-meta a:hover { color: #1c46f2 }
.blog a.blog-like { background: rgba(28, 70, 242, 0.4); color: #1c46f2; }

/* ----------------------------------------
* Form control
* ---------------------------------------*/
.form-control { font-size: 14px; border: none; border-bottom: 3px solid #efeded; height: 60px; padding: 20px 20px 20px 0px; border-radius: 0; -webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -ms-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; transition: all .4s ease-in-out }
.form-control:focus { box-shadow: none; border-color: #1c46f2; padding-left: 20px }

/* ----------------------------------------
* Service
* ---------------------------------------*/
.service-block .service-block-icon { width: 100px; height: 100px; text-align: center; background: rgba(28, 70, 242, 0.1); display: inline-block; line-height: 100px; font-size: 40px; border-radius: 40% 70% 95% 60% / 75% 94% 52% 80%; color: rgba(242, 28, 28, 0.63); -webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -ms-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; transition: all .4s ease-in-out }
.service-block:hover .service-block-icon { background: rgba(242, 28, 28, 0.63); color: #fff }
.service-block:hover .btn-link { border-bottom-color: #161a34; color: #161a34 }

/* ----------------------------------------
* Blog single
* ---------------------------------------*/
.blog-single .blog-tag ul li { display: inline-flex }
.blog-single .blog-tag ul li a { display: block; padding: 8px 16px; background: #f8f9fa; border-radius: 30px; color: #161a34 }
.blog-single .blog-tag ul li a:hover { background-color: #1c46f2; color: #fff }
.blog-single .blog-comments { margin-top: 30px }
.blog-single .comments-list { margin-top: 30px }
.blog-single .comments-list li { display: block }
.blog-single .comments-list li.comments { display: flex; padding-bottom: 30px; align-items: start }
.blog-single .comments-list li.comments .comment-avtar .avatar { width: 50px; height: 50px }
.blog-single .comments-list li.comments .comment-info { margin-left: 20px }
.blog-single .comments-list li.comments:last-child { padding-bottom: 0 }
.blog-single .comments-list li.comments.children { padding-left: 92px }
.social-02 ul li { display: inline-block }
.social-02 ul li a { width: 40px; height: 40px; line-height: 40px; background: #f8f9fa; text-align: center; display: block; border-radius: 50% }
.social-02 ul li a:hover { background: #1c46f2; color: #fff }

/* pagination */
.pagination .page-item .page-link { border-radius: 0; padding: 14px 40px; font-weight: 500; color: #161a34; border: 3px solid #efeded }
.pagination .page-item .page-link:hover { background: #1c46f2; border-color: #1c46f2; color: #fff; box-shadow: none }
.pagination .page-item .page-link:focus { background: #1c46f2; border-color: #1c46f2; color: #fff; box-shadow: none }
.pagination .page-item .page-link:active { background: #1c46f2; border-color: #1c46f2; color: #fff; box-shadow: none }
.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { background-color: rgba(22, 26, 52, 0.1) }
.mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail { background-color: #f8f9fa }
.mfp-with-zoom .mfp-container { opacity: 0; -webkit-backface-visibility: hidden; -webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -ms-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; transition: all .4s ease-in-out }
.mfp-with-zoom.mfp-bg { opacity: 0; -webkit-backface-visibility: hidden; -webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -ms-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; transition: all .4s ease-in-out }
.mfp-with-zoom.mfp-ready .mfp-container { opacity: 1 }
.mfp-with-zoom.mfp-ready.mfp-bg { opacity: 0.8 }
.mfp-with-zoom.mfp-removing .mfp-container { opacity: 0 }
.mfp-with-zoom.mfp-removing.mfp-bg { opacity: 0 }
.mCSB_inside>.mCSB_container { margin-right: 0 !important }

/* ----------------------------------------
* Contact
* ---------------------------------------*/
.contact-info i { font-size: 30px; line-height: 30px; margin-right: 20px; color: rgba(242, 28, 28, 0.63) }
.contact-info .call { font-size: 24px; line-height: 24px; color: #161a34; font-weight: 500 }

/* ----------------------------------------
* Footer
* ---------------------------------------*/
.footer { background: #161a34; height: 80px; align-items: center; display: flex }

/* ----------------------------------------
* Responsive media query
* ---------------------------------------*/
@media (max-width:1450px) {
	.blog .blog-meta a { margin-right: 6px; font-size: 13px }
	.intro-half .intro-half-caption { padding: 200px 0 }
}
@media (max-width:1350px) {
	.progress-bar-vertical { margin: 0 16px }
	.counter { padding: 50px 30px }
	.intro-half .intro-half-caption { padding: 140px 0 }
}
@media (max-width:1199px) {
	h1 { font-size: 32px }
	.slice-ptb { padding: 100px 0 }
	.slice-pt { padding-top: 100px }
	.slice-pb { padding-bottom: 100px }
	.intro .intro-title { line-height: 40px }
	.intro { padding-top: 70px }
	.intro-bg-video .intro-title { line-height: 66px }
	.intro-half .intro-half-caption .intro-title { line-height: 40px }
	.progress-bar-vertical { margin: 0 12px }
	.about i { font-size: 16px; line-height: 24px }
	.counter .counter-number { font-size: 30px }
	.counter .counter-text { font-size: 16px }
	.testimonial .testimonial-content { padding: 30px 20px }
	.testimonial .testimonial-author .testimonial-avatar { margin-right: 10px }
	.testimonial .testimonial-star i { font-size: 10px }
	.contact-info .call { font-size: 18px }
	.contact-info i { font-size: 24px }
	.social-02 ul li a { margin-bottom: 3px }
	.blockquote { padding: 2px 20px 2px 20px }
	.blog .blog-meta { display: inline-block; width: 100% }
	.blog .blog-meta a { display: inline-block }
}
@media (max-width:991px) {
	h1 { font-size: 28px }
	h3 { font-size: 20px }
	.container-fluid { padding: 0 40px }
	.left-bar { display: none }
	.sidebar-inner .navbar { display: block }
	.wrapper { padding: 0 }
	.header { padding: 0 30px; position: relative }
	#sidebar { width: 360px; left: -400px }
	.intro { height: auto; }
	.intro .intro-image { margin-top: 60px }
    .intro-bg-video { padding-bottom: 70px; }
	.intro .intro-sub-title { font-size: 16px }
	.intro-bg-video .intro-title { font-size: 50px; line-height: 60px }
	.intro-slider .carousel-caption .carousel-caption-title { font-size: 60px; line-height: 60px }
	.intro-half .intro-half-image { padding: 180px }
	.intro-half .intro-half-caption { padding: 50px 40px }
	.slice-ptb { padding: 70px 0 }
	.slice-pt { padding-top: 70px }
	.slice-pb { padding-bottom: 70px }
	.progress-bar-vertical { min-height: 400px }
	.progress-bar-vertical:nth-child(1) { margin-left: 0 }
	.portfolio .grid-item { width: 50% }
	.work-step-line:before { display: none }
	.owl-carousel .owl-nav button.owl-next,
	.owl-carousel .owl-nav button.owl-prev { width: 40px; height: 40px; line-height: 40px; font-size: 16px; margin: 2px }
	.owl-carousel.owl-arrow-style-01 .owl-nav button.owl-next,
	.owl-carousel.owl-arrow-style-01 .owl-nav button.owl-prev { position: relative; left: 50%; transform: translateX(-100%); bottom: -10px; top: inherit }
	.owl-carousel.owl-arrow-style-01 .owl-nav { text-align: inherit }
}
@media (max-width:767px) {
	.container-fluid { padding: 0 15px }
	.header { padding: 0; }
	.header .logo { margin-left: auto; }
	.slice-ptb { padding: 50px 0 }
	.slice-pt { padding-top: 50px }
	.slice-pb { padding-bottom: 50px }
	.intro { padding-top: 50px }
	.intro-bg-video .intro-title { font-size: 40px; line-height: 50px }
	.intro-slider .carousel-caption .carousel-caption-title { font-size: 40px; line-height: 40px }
	.intro-half .intro-half-caption { padding: 40px 15px 10px }
    .intro-bg-video { padding-bottom: 50px; }
	.portfolio .filters-group .button { padding: 14px 20px }
	.title .title-shadow { display: none; }
    .title { padding-left: 0; }
	.btn { padding: 10px 30px; font-weight: 500; font-size: 13px }
	.portfolio .filters-group { display: inline-block }
	.portfolio-item .portfolio-item-caption { padding: 10px 0 10px 0 }
}
@media (max-width:575px) {
	h6 { font-size: 16px }
	.btn { padding: 10px 14px }
	.intro { padding-top: 40px }
    .title { margin-bottom: 20px; }
	.intro-bg-video .intro-title { font-size: 30px; line-height: 40px }
	.intro-slider .carousel-caption .carousel-caption-title { font-size: 30px; line-height: 40px }
	.intro-slider .carousel-control-next,
	.intro-slider .carousel-control-prev { display: none }
    .intro-bg-video { padding-bottom: 40px; }
	.progress-bar-vertical { margin: 0 7px; width: 40px }
	.header .logo { padding: 0 20px 0 0 }
	.header .social ul li a { margin-left: 6px }
	.header .social ul li a span { display: none }
	.header .social ul li a i { padding-right: 0 }
	#sidebar { width: 280px; left: -300px }
	.sidebar-inner { padding: 20px }
	.nav-contact .nav-phone { font-size: 20px }
	.nav-contact .nav-email { font-size: 16px }
	.nav .nav-item .nav-link { font-size: 16px; padding: 5px 0 }
	.portfolio-item { padding: 0 }
	.portfolio .grid-item { width: 100% }
	.timeline:before { left: 80px }
	.timeline .timeline-block .timeline-block-time { font-size: 14px }
	.timeline .timeline-block .timeline-block-text { padding: 0 0 0 70px }
	.timeline .timeline-block .timeline-block-icon { left: 67px }
	.timeline .timeline-block .timeline-block-text i { margin-right: 10px }
	.intro .intro-image img { box-shadow: -8px -10px 0px 0px rgba(22, 26, 52, 0.1) }
	.blog-single .comments-list li.comments.children { padding-left: 22px }
}







